<!DOCTYPE html>
<head>
    <title>Create the Document_details</title>
</head>

<body>
    {% block content %}
    <center>
        <h1>Inserting for Document_details</h1>
        <form method="POST">
            {% csrf_token %}
            <table border="1">

                <tr>
                    <td>document template name</td>
                     <td>
                        <select name="template_name">
                            {% for results in bindingid %}
                                    <option value="{{ results.id }}">{{ results.name}} </option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>document details Field name</td>
                    <td><input type="text" placeholder="field name" name="field_name"></td>
                </tr>

                <tr>
                    <td>document details Field type</td>
                    <td><input type="text" placeholder="field type'..." name="field_type"></td>
                </tr>

                <tr>
                   <td>document details isRequired?</td>
                    <td>    
                      <label><input type="radio" name="isRequired" value="yes">Yes</label>
                      <label> <input type="radio" name="isRequired" value="no">No </label>
                    </td>
                </tr>

            </table>
            <input type="submit" value="insert"/>
        </form>
    </center>
    {% endblock %}
</body>
</html>