<!DOCTYPE html>
<head>
    <title>Create the Document_details</title>
</head>
<body>
    <center>
        <h1>inserting for Document_details</h1>
        <h2>using django restframework</h2>
        <form method="POST">
            {% csrf_token %}
            <table border="1">
                
                <tr>
                    <td>document template</td>
                    <td>
                        <select name="name" class="form-control">
                            {% for results in bindingid %}
                                    <option value="{{ results.id}}">{{ results.name}} </option>
                            {% endfor %}
                        </select>

                    </td>

                </tr>
                <tr>
                    <td>document details Field name</td>
                    <td><input type="text" placeholder="field name"name="field_name"></td>
                </tr>
                <tr>
                    <td>document details Field type</td>
                    <td><input type="text" placeholder="field type'..."name="field_type"></td>
                </tr>
                <tr>
                    <td>document details isRequired?</td>    
                    <td><input type="radio" id="Yes" name="isRequired" value="Yes">
                          <label for="Yes">Yes</label>
                        <input type="radio" id="No" name="isRequired" value="No">
                              <label for="No">No</label></td>
                    
                </tr>
            </table>
            <input type="submit" value="insert"/>
        </form>
        <h1>save as pdf from database</h1>  
        <a href="{% url 'venue_pdf' %}">Generate pdf</a>
    </center>
</body>
</html>