<!DOCTYPE html>
<head>
    <script>
        function onclick_event(){
            var name= document.getElementById("txt").value;
            localStorage.setItem("textvalue",name);
            return false;
        }
        
    </script>
</head>
<body>

    <center>
        <form action="18jul.html">
            <label>Name:</label>
            <input type="text" placeholder="template name.." id="txt" > <br>
            <button type="button" onclick="onclick_event();" > <a href="{% url 'name_save' %}">submit</a></button>
                    
        </form>
    </center>
</body>
</html>

