<!DOCTYPE html>
    <head>
        <title>Create the Document_details</title>
        <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"> </script>
        <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    </head>
    
    <body>
        {% block content %}
        <center>
            <h1>Template Page</h1>
            <form method="post">
                {% csrf_token %}
                <div>
                    selcet template_name:
                    <select >
                        {% for results in bindingid %}
                            <option value=" {{results.name}}">
                                {{ results.name}} 
                            </option> 
                                   
                        {% endfor %}
                    </select>
                    <p style="color:green"id="demo"></p>
                </div> 
                
                <div id = "makepdf">
                    <label>Type:</label>
                    <input type="text" placeholder="template name.." id="txt" > <br>
                </div>
                
                <button id="button" type="button" onclick="onclick_event();" >
                        <a href="{% url 'name_save' %}">submit</a>
                </button>  
                <form method="post" action="testfile.py">
                </form>
            </form>
        </center>
        <script>
            function onclick_event(){
                var name= document.getElementById("txt").value;
                localStorage.setItem("textvalue",name);
                return false; 
            }  
          
               
                 document.getElementById("mybutton").onclick = async function() {
                    let response = await fetch("testfile.py");
                    let text = await response.text();
                    alert(text);
              
            }       

        </script>
        <py-script  output="mybutton">
            
            # # from bs4 import BeautifulSoup
            # from pdfrw import PdfWriter
            from string import Template
            import pdfkit
            # C://Users//User//Desktop//PDB_drf//phyDoc_Builder_Project//phyDoc_Builder//Template//21jul.html
            f = open("C://Users//User//Desktop//PDB_drf//phyDoc_Builder_Project//phyDoc_Builder//Template//21jul.html", "r")

            html_content = f.read()

            template = Template(html_content)
            final_html = template.substitute(name_placeholder='Anusha', age_placeholder=21, location_placeholder="rr nagar")


            config = pdfkit.configuration(wkhtmltopdf="C:\\Program Files (x86)\\wkhtmltopdf\\bin\\wkhtmltopdf.exe")

            # pw.write(f"rajesh.pdf",final_html)
            pdfkit.from_string(final_html, "D:/anu.pdf", configuration=config)
            # for line in BeautifulSoup(final_html).get_text().split("\n"):
            #     pw.write(line)
                

        </py-script>
       
        {% comment %} C:/Users/User/AppData/Local/Programs/Python/Python38/python.exe {% endcomment %}
        {% endblock %}
    </body>
    </html>
  
        
