<!DOCTYPE html>
<head>
    <title>Create the Document_details</title>
</head>
<body>
    {% block content %}
    <center>
        <h1>Inserting for Template Page</h1>

        <form method="POST">
            {% csrf_token %}
            <table border="1">
                <tr>
                    <td>document template name</td>
                        <td id="id">
                            <select name="template_name" id="field_name" onclick="EnterName()">
                                {% for results in bindingid %}
                                        <option value="
                                                       {{results.field_name}}
                                                        " id ="field_name" >
                                            {{ results.template_name}} 
                                        </option>
                                        
                        
                                {% endfor %}
                                
                            </select>


                            <p style="color:green"id="demo"></p>

                        </td>
                </tr>
                
    
            </table>
        </form>

    </center>
    <script>
		function EnterName()
		{
			var x= document.getElementById("field_name").value;
  
            document.getElementById("demo").innerHTML = 
                 x +":"+"<input type='text' value=''>";
            
		}
	</script>
    
        
    {% endblock %}
</body>
</html>